@import url(padrao.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Hero Banner - Victor */

.hero-banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 200px;
}

.hero-banner .main-banner-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
}

.hero-banner .main-banner-area .text-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-banner .main-banner-area .text-area h4 {
    color: var(--txt-azul);
    font-size: 16px;
}

.hero-banner .main-banner-area .text-area h2 {
    font-weight: bold;
    color: var(--txt-preto);
    width: 300px;
}

.hero-banner .main-banner-area .text-area p {
    color: var(--txt-cinza);
    width: 400px;
    font-size: 14px;
}

.hero-banner .main-banner-area .text-area ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.hero-banner .main-banner-area .text-area ul li a {
    background-color: var(--txt-azul);
    padding: 8px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.hero-banner .main-banner-area .text-area ul li a:hover {
    cursor: pointer;
    background-color: #416bdf;
    transition: all 200ms;
}

.hero-banner .main-banner-area .text-area ul li button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 8px;
}

.hero-banner .main-banner-area .text-area ul li button svg {
    background-color: #09ff00;
    fill: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.hero-banner .main-banner-area .text-area ul li button:hover {
    cursor: pointer;
    background-color: var(--txt-cinza);
    transition: all 200ms;
}

.hero-banner .main-banner-area img {
    width: 50%;
    min-width: 300px;
}

.hero-banner .partnerships {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 90px;
    filter: grayscale(1);
    opacity: 50%;
}

.hero-banner .partnerships img {
    width: 20%;
    max-width: 150px;
    min-width: 80px;
}


/* Discover-explore - Manu */

.Discover-explore{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-box {
    text-align: center;
    width: 706px;
}

.txt-blue {
    color: var(--txt-azul);
    font-size: 20px;
    font-weight: 500;
    line-height: 26.04px;
    margin-top: 200px;
    margin-bottom: 10px;
}

.txt-black {
    color: var(--txt-preto);
    font-size: 36px;
    font-weight: 700;
    line-height: 46.87px;
    margin-bottom: 18px;
    
}

.txt-grey {
    color: var(--txt-cinza);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;

}

.grafico {
    margin-top: 100px;
    margin-bottom: 200px;
    width: 750px;
    height: 469px;
}

/* Why You Choose Us? - Victor*/

.choose-us-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    gap: 20px;
}

.choose-us-banner .text-card-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choose-us-banner .text-card-area .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.choose-us-banner .text-card-area .text h4 {
    color: var(--txt-azul);
    font-size: 16px;
}

.choose-us-banner .text-card-area .text h2 {
    font-weight: bold;
    color: var(--txt-preto);
    width: 320px;
    font-size: 25px;
}

.choose-us-banner .text-card-area .text p {
    color: var(--txt-cinza);
    width: 400px;
    font-size: 14px;
}

.choose-us-banner .text-card-area .cards ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.choose-us-banner .text-card-area .cards ul li .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    border: none;
}

.choose-us-banner .text-card-area .cards ul li .card .img-card svg {
    width: 55px;
    height: 55px;
    fill: #fff;
    background-color: var(--txt-azul);
    padding: 14px;
    border-radius: 50%;
}

.choose-us-banner .text-card-area .cards ul li .card .text-card h4 {
    font-size: 16px;
    font-weight: bold;
}

.choose-us-banner .text-card-area .cards ul li .card .text-card p {
    font-size: 12px;
    color: var(--txt-cinza);
    width: 320px;
}

.choose-us-banner img {
    width: 35%;
    min-width: 250px;
}

/* Client Testmonials - Manu */

.txt-box2 {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.client-box{
    margin: 0 38px;
    width: 895px;
    height: 372px;
    border: 1px solid #BCBCBC;
    border-radius: 15px;
}

.client-conteudo {
    margin-top: 60px;
    margin-bottom: 28px;
    margin-left: 35px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.estrela{
    align-self: flex-end;
    margin-left: 10px;
}


.client-esquerdo{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.client-info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.nome{
    font-size: 24px;
    font-weight: 700;
}

.data{
    font-size: 16px;
    font-weight: 400;
}

.client-txt-box{
    margin: 0 38px;
}

.client-t {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.client-txt {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
}